<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <facilities>
        <facility id="logging"
                  type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
                  loggingApi="log4net" configFile="log.config" />
        <facility id="startable"
                  type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor" />
    </facilities>

    <properties>
        <appName>Beginor.OwinApp</appName>
        <appAuthKey>5e5e4856d80d4930a6decfe3e94f1d54</appAuthKey>
        <webRoot>../../../../client</webRoot>
    </properties>

    <components>
        <!-- OWIN 日志 -->
        <component service="Microsoft.Owin.Logging.ILoggerFactory,Microsoft.Owin"
                   type="Beginor.Owin.Logging.CastleLoggerFactory,Beginor.Owin.Logging"
                   inspectionBehavior="declaredonly" lifestyle="singleton"/>
        <!-- WebApi 异常处理 -->
        <component service="System.Web.Http.ExceptionHandling.IExceptionLogger,System.Web.Http"
                   type="Beginor.Owin.WebApi.Windsor.CastleExceptionLogger,Beginor.Owin.WebApi.Windsor"
                   inspectionBehavior="declaredonly"
                   />
        <!-- AesDataProtectionProvider -->
        <component service="Microsoft.Owin.Security.DataProtection.IDataProtectionProvider, Microsoft.Owin.Security"
                   type="Beginor.Owin.Security.Aes.AesDataProtectionProvider, Beginor.Owin.Security.Aes"
                   inspectionBehavior="declaredonly" lifestyle="singleton">
            <parameters>
                <appName>#{appName}</appName>
                <key>SGVsbG8sd29ybGQh</key>
            </parameters>
        </component>
        <!-- static file -->
        <component type="Beginor.Owin.StaticFile.StaticFileMiddlewareOptions,Beginor.Owin.StaticFile"
                   inspectionBehavior="declaredonly" lifestyle="singleton">
            <parameters>
                <rootDirectory>#{webRoot}</rootDirectory>
                <defaultFile>index.html</defaultFile>
                <enableETag>false</enableETag>
                <enableHtml5LocationMode>false</enableHtml5LocationMode>
            </parameters>
        </component>
    </components>

</configuration>